@model IEnumerable<NNPEFWEB.Models.ef_personalInfo>
@using Microsoft.AspNetCore.Http
@{ Layout = null;
                int count = 0; }
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NN-CPO</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <h3 style="text-align:center">RETRICTED</h3>
    <h2 style="text-align:center">NIGERIAN NAVY E-EMOLUMENT</h2>
    <h2 style="text-align:center">@Model.FirstOrDefault().ship @ViewBag.Category List</h2>
    <h2 style="text-align:center">Produce On @DateTime.Now</h2>
    <h2> SECTION A</h2>
    <div class="table">
        <table border="2" cellpadding="2" cellspacing="0" width="100%">

            <tr>
                <th>Rank</th>
                <th>Service No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
            </tr>
            @if (Model.Count() == 0)
            {
<tr>
    <td colspan="12"><b>No Record Found</b></td>
</tr> }
            else
            {
@foreach (var r in Model)
{
<tr style="text-align:left">
    <td>@r.Rank</td>
    <td>@r.serviceNumber</td>
    <td>@r.Surname</td>
    <td>@r.OtherName</td>
    <td>
        @if (r.Status == "SHIP")
        {
            r.Status = "Form Filled";
        }
        else if (r.Status == "CPO")
        {
            r.Status = "Authorized";
        }
        else
        {
            r.Status = "Not Yet Filled";
        }
        @r.Status
    </td>
</tr>}}

        </table>
        <br /><br />
        <div style="">
            <div class="row">
                <div class="col-md-8">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;Produced By (FO)</h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-8"><h2><span>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong>--------------------------------</strong> </h2></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span>Rank:&nbsp;&nbsp;&nbsp; </span><strong>-----------------------</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="margin-left:300px"> Svc Number :&nbsp;&nbsp;&nbsp; <strong>--------------------</strong></span>
                    </h2>
                </div>
            </div>
        </div>
        <br />
        <div style="">
            <div class="row">
                <div class="col-md-8">
                    <h2><u>SECTION B</u>&nbsp;&nbsp;&nbsp;&nbsp;(To be completed by COMMANDING OFFICER in capital letters)</h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-8"><h2><span>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong>_____________________________________________________</strong> </h2></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span>Rank:&nbsp;&nbsp;&nbsp; </span><strong>______________</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="margin-left:300px"> Svc Number :&nbsp;&nbsp;&nbsp; <strong>__________________</strong></span>
                    </h2>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <h2><strong><i>I certify that the information provided by the Officer are correct to the best of my knowledge.</i></strong></h2>
                </div>
            </div>
            <br /><br /><br />
            <div class="row">
                <div style="text-align: center; width: 400px">
                    <hr width="300" style="border:1px dashed; margin-left:100px" size="4"> <hr width="500" style="border:1px dashed;margin-left:500px" size="4">
                </div>
                <div style="margin-left: 300px; margin-top: -15px">
                    <h2><strong style="margin-left:-80px"><i>Date</i></strong><strong style="margin-left:250px"><i>Signature and Stamp of Commanding Officer</i></strong></h2>
                </div>


            </div>

        </div>

        <h3 style="text-align:center">RETRICTED</h3>
    </div>
</body>
</html>