@model IEnumerable<NNPEFWEB.ViewModel.RPTPersonModel>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NN-CPO</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <h6 style="text-align:center">RETRICTED</h6>
    <h2 style="text-align:center">NIGERIAN NAVY CENTRAL PAY OFFICE</h2>
    <h2 style="text-align:center">23, Point Road Apapa Lagos.</h2>
    Produce On @DateTime.Now
    <div class="table">
        <table border="2" cellpadding="2" cellspacing="0" width="100%">

            <tr>
                <th>Rank</th>
                <th>Service No</th>
                <th>Name</th>
                @*<th>Last Name</th>*@
                <th>Ship</th>
            </tr>
            @if (Model.Count() == 0)
            {
<tr>
    <td colspan="12"><b>No Record Found</b></td>
</tr>
 }
else
{
@foreach (var r in Model)
{
<tr style="text-align:left">

    <td>@r.Rank</td>
    <td>@r.ServiceNumber</td>
    <td>@r.Name</td>
    @*<td>@r.OtherName</td>*@
    <td>@r.Ship</td>
</tr>
 }
}

        </table>

    </div>
    <h6 style="text-align:center">RETRICTED</h6>
</body>
</html>