@model List<ManageUserRolesViewModel>
@{
    ViewData["Title"] = "Manage";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            Add/Remove Roles for User /@ViewBag.userName
        </div>
        <div class="card-body">
            @for(int i= 0;i < Model.Count; i++)
            {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                <input  asp-for="@Model[i].Selected" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model[i].Selected">@Model[i].RoleName</label>
            </div> 
            }
            <div class="text-danger" asp-validation-summary="All"></div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Update" style="width:auto" />
            <a asp-action="EditUser" asp-route-Id="@ViewBag.userId" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>