@using NNPEFWEB.ViewModel;
@model PaginatedList<NNPEFWEB.Models.PensionViewModel>

@{
    ViewData["Title"] = "ApprovePension";
    Layout = "~/Views/Shared/_gratuityLayout.cshtml";
}

<div class="card" style="width:100%;">
    <div class="card-header">
        Pension Approval
    </div>
    <div class="card-body">
        <form>
            <div style="float:right;">
                <div class="input-group mb-3">
                    <input name="searchString" type="text" class="form-control" placeholder="search by service no" aria-label="Username" aria-describedby="basic-addon1">
                    <button class="input-group-text" asp-action="ApprovePension" asp-controller="PersonnelLogin" asp-route-searchString="searchString">
                        Search
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                   
                    <th>Fullname</th>
                    <th>ServiceNo</th>
                    <th>Rank</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{

                    string fullname = "";

                    @foreach (var k in Model)
                    {
                        fullname = k.LastName + " " + k.FirstName;
                        <tr>
                            <td>@fullname</td>
                            <td>@k.SVC_NO</td>
                            <td>@k.Title</td>
                            <td>
                                <a onclick="ApprovePension(@k.PersonID)"
                                   class="btn btn-primary">
                                    Approve
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="ApprovePension" asp-controller="PensionForms"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="ApprovePension" asp-controller="PensionForms"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">

        function ApprovePension(id) {
            var pp =
            {
                personID: id
            };

            console.log(JSON.stringify(pp));

            $.ajax({
                method: "POST",
                url: `/PensionForms/PensionApproved?PersonID=${id}`,
                success: function (data) {
                    alert(data.responseMessage);
                    window.location.href = "/PensionForms/ApprovePension";
                },
                error: function () {
                    alert('approve pension failed');
                }
            })
        }
    </script>
}

