@model NNPEFWEB.Models.PensionModel

@{
    ViewData["Title"] = "PensionReviews";
    Layout = "~/Views/Shared/_gratuityLayout.cshtml";
}

<div class="card" style="width:100%;">
    <div class="card-header">
        <h1>Pension Review</h1>
    </div>
    <div class="card-body">
        <form asp-action="PensionReviews">
            <div style="float:right;">
                <div class="input-group mb-3">
                    <input name="searchString" type="text" class="form-control" placeholder="search by service no" aria-label="Username" aria-describedby="basic-addon1">
                    <button class="input-group-text" asp-action="PensionReviews" asp-controller="PersonnelLogin" asp-route-searchString="searchString">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>ServiceNo</th>
                    <th>Rank</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{

                    string fullname = "";

                    @foreach (var k in Model.Pensions)
                    {
                        fullname = k.LastName + " " + k.FirstName;
                        <tr>
                            <td>@fullname</td>
                            <td>@k.SVC_NO</td>
                            <td>@k.Title</td>
                            <td>@k.status</td>
                            <td>
                                <a onclick="EditPension(@k.PersonID)"
                                   class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        @{
            var prevDisabled = !Model.Pensions.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Pensions.HasNextPage ? "disabled" : "";
        }

        <a asp-action="PensionReviews" asp-controller="PensionForms"
           asp-route-pageNumber="@(Model.Pensions.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="PensionReviews" asp-controller="PensionForms"
           asp-route-pageNumber="@(Model.Pensions.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="savePensionPreview" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="pension.SVC_NO">SERVICE NO</label>
                                        <input asp-for="pension.SVC_NO" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>FIRSTNAME</label>
                                        <input asp-for="pension.FirstName" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>LASTNAME</label>
                                        <input asp-for="pension.LastName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>MIDDLENAME</label>
                                        <input asp-for="pension.MiddleName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>RANK</label>
                                        <input asp-for="pension.Title" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PRESENT SHIP</label>
                                        <select asp-for="pension.ShipEstab" asp-items="Model.pension.shipDetails" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>DATE OF BIRTH</label>
                                        <input type="date" asp-for="pension.BirthDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>DATE OF LAST PROMOTION</label>
                                        <input type="date" asp-for="pension.senioritydate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>TRADE CATEGORY</label>
                                        <input asp-for="pension.Tradecategory" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>TRADE CATEGORY DATE</label>
                                        <input type="date" asp-for="pension.TradeCatDate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>DATE OF DISCHARGE/AUTHORITY</label>
                                        <input type="date" asp-for="pension.PrvServdate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PREVIOUS SERVICE FROM</label>
                                        <input type="date" asp-for="pension.PrvEstab" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PREVIOUS ESTABLISHMENT</label>
                                        <select asp-for="pension.PrvShipEstab" asp-items="Model.pension.shipDetails" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>DATE OF ENLISTMENT</label>
                                        <input type="date" asp-for="pension.Enlistmentdate" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PRESENT SERVICE FROM</label>
                                        <input type="date" asp-for="pension.PreServicefrom" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PRESENT SERVICE TO</label>
                                        <input type="date" asp-for="pension.PreServiceTo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>WAR SERVICE FROM</label>
                                        <input type="date" asp-for="pension.Warsrv_from" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>WAR SERVICE TO</label>
                                        <input type="date" asp-for="pension.Warsrv_to" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>TOTAL LENGTH OF SERVICE</label>
                                        <input type="text" asp-for="pension.TotalService" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>NON-RECKONABLE SERVICE (IF ANY)</label>
                                        <input type="text" asp-for="pension.Nonrec_Service" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>NON-RECKONABLE SERVICE REASON</label>
                                        <input type="text" asp-for="pension.NonRecReason" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>AUTHORITY FOR TRANSFER OF SERVICE</label>
                                        <input type="text" asp-for="pension.TransAuthority" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>FINAL TOTAL LENGTH OF SERVICE FOR PENSION</label>
                                        <input type="text" asp-for="pension.FinTotalService" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>DATE ON WHICH PAYMENT OF PENSION COMMENCES</label>
                                        <input type="date" asp-for="pension.PensionDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>SUB-TREASURY MAKING PAYMENT</label>
                                        <input type="text" asp-for="pension.PaymentDept" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PERMANENT ADDRESS</label>
                                        <input type="text" asp-for="pension.PAddress" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CONTACT ADDRESS</label>
                                        <input type="text" asp-for="pension.CAddress" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>NATURE OF DISABILITY</label>
                                        <input type="text" asp-for="pension.DisabilityNat" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>DEGREE OF DISABILITY</label>
                                        <input type="text" asp-for="pension.DisabilityDegree" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>EFFECTIVE DATE OF DISABILITY</label>
                                        <input type="date" asp-for="pension.DisabilityDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btnPensionPreview" class="btn btn-primary" value="Submit" />
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts
    {
        <script type="text/javascript">
            $(document).ready(function(){
                $('#btnPensionPreview').click(function () {
                var empForm = $('#savePensionPreview').serialize();

                $.ajax({
                    type: "POST",
                    url: "/PensionForms/PensionInitiation",
                    data: empForm,
                    success: function (data) {
                        window.alert(data.responseMessage);

                        $('#exampleModal').on('hidden.bs.modal', function () {
                            $(this).find('form').trigger('reset');
                        })
                        window.location.href = "/PensionForms/PensionReviews";
                    },
                    error: function () {
                        window.alert("update failed");
                    }
                });
              })
            });
            function EditPension(id) {
            $.ajax({
                method: "GET",
                url: `/api/Pension/GetPensionByPersonID?personID=${id}`,
                success: function (data) {
                    console.log(data.disabilityDate)
                    $('#pension_FirstName').val(data.firstName);
                    $('#pension_LastName').val(data.lastName);
                    $('#pension_Title').val(data.title);
                    $('#pension_SVC_NO').val(data.svC_NO);
                    $('#pension_MiddleName').val(data.middleName);
                    $('#pension_ShipEstab').val(data.shipEstab);
                    $('#pension_BirthDate').prop(data.birthDate);
                    $('#pension_senioritydate').prop(data.senioritydate);
                    $('#pension_Tradecategory').val(data.tradecategory);
                    $('#pension_TradeCatDate').prop(data.tradeCatDate);
                    $('#pension_PrvEstab').val(data.prvEstab);
                    $('#pension_PrvShipEstab').val(data.prvShipEstab);
                    $('#pension_Enlistmentdate').prop(data.enlistmentdate);
                    $('#pension_PreServicefrom').prop(data.preServicefrom);
                    $('#pension_PreServiceTo').prop(data.preServiceTo);
                    $('#pension_PrvServdate').prop(data.prvServdate);
                    $('#pension_Warsrv_from').prop(data.warsrv_from);
                    $('#pension_Warsrv_to').prop(data.warsrv_to);
                    $('#pension_TotalService').val(data.totalService);
                    $('#pension_Nonrec_Service').val(data.nonrec_Service);
                    $('#pension_NonRecReason').val(data.nonRecReason);
                    $('#pension_TransAuthority').val(data.transAuthority);
                    $('#pension_FinTotalService').val(data.finTotalService);
                    $('#pension_pensionDate').prop(data.pensionDate);
                    $('#pension_PaymentDept').val(data.paymentDept);
                    $('#pension_PAddress').val(data.pAddress);
                    $('#pension_CAddress').val(data.cAddress);
                    $('#pension_DisabilityNat').val(data.disabilityNat);
                    $('#pension_DisabilityDegree').val(data.disabilityDegree);
                    $('#pension_DisabilityDate').prop(data.disabilityDate);
                   
                    $('#exampleModal').modal('show');
                 }
              });
            }
        </script>
    }