@model IEnumerable<NNPEFWEB.Models.PensionViewModel>

@{
    ViewData["Title"] = "PensionPayment";
    Layout = "~/Views/Shared/_gratuityLayout.cshtml";
}
<div class="card" style="width:100%;">
    <div class="card-header">
        Pension Payment
    </div>
    <div class="card-body">
        <form asp-action="PensionPayment">
            <div style="float:right;">
                <div class="input-group mb-3">
                    <input name="searchString" type="text" class="form-control" placeholder="search by service no" aria-label="Username" aria-describedby="basic-addon1">
                    <button class="input-group-text" asp-action="PensionPayment" asp-controller="PersonnelLogin" asp-route-searchString="searchString">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>ServiceNo</th>
                    <th>Rank</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{

                    string fullname = "";

                    @foreach (var k in Model)
                    {
                        fullname = k.LastName + " " + k.FirstName;
                        <tr>
                            <td>@fullname</td>
                            <td>@k.SVC_NO</td>
                            <td>@k.Title</td>
                            <td>@k.status</td>
                            <td>
                                <a onclick="ApprovePayment(@k.PersonID)"
                                   class="btn btn-primary">
                                    Approve
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">

        function ApprovePayment(id) {
            var pp =
            {
                personID: id
            };

            console.log(JSON.stringify(pp));

            $.ajax({
                method: "POST",
                url: `/PersonnelLogin/CreatePensionPayment?PersonID=${id}`,
                success: function (data) {
                    window.alert(data.responseMessage);
                    window.location.href = "/PersonnelLogin/PensionPayment";
                },
                error: function () {
                    alert('approve payment failed');
                }
            })
        }
    </script>
}