@model NNPEFWEB.ViewModel.PersonalInfoModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "OfficerRecord";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NN-CPO</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />


    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
</head>


<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#052d4b;color:white">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img src="~/assets/img/cpo/ppf2_logo.svg" alt="..." />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">


                    <li class="nav-item"><a class="nav-link" href="https://nncpo.ng/">Log Out</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Reports/downloadFormOfficer" target="_blank">DownLoad Page 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Reports/downloadFormOfficer2" target="_blank">DownLoad Page 2</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="row-cols-4" style="height:190px">
    </div>
    <div class="container">
        <h1> @Context.Session.GetString("SVC_No")</h1>
        @if (TempData["message"] != null)
        {
            <h5 style="color:red"> @TempData["message"]</h5>
        }
        <div class="col-md-12">
            <form asp-action="OfficerRecord" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <hr />
                <div class="row">
                    <h3 style="">
                        <label class="control-label">Personal Information</label>
                    </h3>
                </div>
                <div class="row" style="text-align:center">
                    <div class="col-md-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Passport" style="width: 100%;"></label>
                            @if (Model.Passport != null)
                            {
                                <img id="passport" style="width:200px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Passport))"> }
                            else
                            {
                                <img id="passport" style="width:200px;height:200px; object-fit:cover" src="">}
                            <input type="file"
                                   accept=".png,.jpg,.jpeg,.gif,.tif"
                                   asp-for="Passport"
                                   class="form-control"
                                   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                   onchange="document.getElementById('passport').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="Passport" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<img src="~/Image/navylogo2.png" style="width:180px;height:200px;" />*@
                        @if (Model.logo != null)
                        {
                            <img id="logo" style="width: 130px; height: 190px; " src="data:image/*;base64,@(Convert.ToBase64String(Model.logo))"> }
                        else
                        {
                            <img id="logo" style="width:140px;height:220px; object-fit:cover" src="">}

                    </div>
                    <div class="col-md-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label style="width: 100%;">NOK Passport</label>
                            @if (Model.NokPassport != null)
                            {
                                <img id="nokpassport" style="width:200px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.NokPassport))"> }
                            else
                            {
                                <img id="nokpassport" style="width:200px;height:200px; object-fit:cover" src="">}
                            <input type="file"
                                   accept=".png,.jpg,.jpeg,.gif,.tif"
                                   asp-for="NokPassport"
                                   class="form-control"
                                   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                   onchange="document.getElementById('nokpassport').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="NokPassport" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-3">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="AltNokPassport" style="width: 100%;"></label>
                                           @if (Model.AltNokPassport != null)
                                        {
                            <img id="altnokpassport" style="width:250px;height:250px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.AltNokPassport))"> }
                        else
                        {
                        <img id="altnokpassport" style="width:250px;height:250px; object-fit:cover" src="">}*@
                    @*<input type="file"
                               accept=".png,.jpg,.jpeg,.gif,.tif"
                               asp-for="AltNokPassport"
                               class="form-control"
                               style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                               onchange="document.getElementById('altnokpassport').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="AltNokPassport" class="text-danger"></span></div>
                                    </div>*@

                </div>
                <input asp-for="id" class="form-control" hidden />
                @*<officers-record></officers-record>*@
                <div class="row">

                    <div class="col-md-4">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" readonly />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Other Names</label>
                        <input asp-for="OtherName" class="form-control" readonly />
                        <span asp-validation-for="OtherName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Service Number</label>
                        <input asp-for="serviceNumber" class="form-control" readonly />
                        <span asp-validation-for="serviceNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <label asp-for="Rank" class="control-label"></label>
                        <select asp-for="Rank"
                                class="form-control"
                                asp-items="@(new SelectList(Model.rankList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="Rank" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Date of Birth</label>
                        <input asp-for="Birthdate" class="form-control" type="date" readonly />
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Date of Joining</label>
                        <input asp-for="DateEmpl" class="form-control" type="date" readonly />
                        <span asp-validation-for="DateEmpl" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">
                        <label class="control-label">Residential Address</label>
                        <input asp-for="home_address" class="form-control" type="text" />
                        <span asp-validation-for="home_address" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Seniority on Current Rank</label>
                        <input asp-for="seniorityDate" class="form-control" type="date" required />
                        <span asp-validation-for="seniorityDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Type of Commissioning</label>
                        <select asp-for="entry_mode" id="entrymodeid"
                                class="form-control"
                                asp-items="@(new SelectList(Model.entry_modeList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="entry_mode" class="text-danger"></span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4" id="enrolmentdate">
                        <label class="control-label"> Date of Commissioning</label>
                        <input asp-for="advanceDate" class="form-control" type="date" />
                        <span asp-validation-for="advanceDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Run Out Date</label>
                        <input asp-for="runOutDate" class="form-control" type="date" readonly />
                        <span asp-validation-for="runOutDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-4">
                        <label class="control-label">Branch</label>
                        <select asp-for="branch"
                                class="form-control"
                                asp-items="@(new SelectList(Model.branchList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="branch" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Command</label>
                        <select asp-for="command" id="ddcommand"
                                class="form-control"
                                asp-items="@(new SelectList(Model.commandList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="command" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Ship</label>
                        <select asp-for="ship" id="ddship"
                                class="form-control"
                                asp-items="@(new SelectList(Model.shipList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="ship" class="text-danger"></span>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Specialisation</label>
                        <select asp-for="specialisation"
                                class="form-control"
                                asp-items="@(new SelectList(Model.specialisationList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="specialisation" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Present Appointment</label>
                        <input asp-for="entitlement" class="form-control" />
                        <span asp-validation-for="entitlement" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Nature of Appointment</label>
                        <select asp-for="confirmedBy" class="form-control" required>
                            <option>Select....</option>
                            <option value="Permanent">Permanent</option>
                            <option value="Contract">Contract</option>
                        </select>
                        <span asp-validation-for="confirmedBy" class="text-danger"></span>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">State of Origin</label>
                        @*<input asp-for="StateofOrigin" class="form-control" readonly />*@
                        <select asp-for="StateofOrigin" id="ddstate"
                                class="form-control"
                                asp-items="@(new SelectList(Model.StateofOriginList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="StateofOrigin" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">LGA</label>
                        @*<input asp-for="LocalGovt" class="form-control" readonly />*@
                        <select asp-for="LocalGovt" id="ddlocalGovt"
                                class="form-control"
                                asp-items="@(new SelectList(Model.LocalGovtList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="LocalGovt" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Religion</label>
                        @*<input asp-for="religion" class="form-control" />*@
                        <select asp-for="religion" class="form-control">
                            <option>Select....</option>
                            <option value="Christian">Christian</option>
                            <option value="Muslim">Muslim</option>

                        </select>
                        <span asp-validation-for="religion" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">GSM No (1)</label>
                        <input asp-for="gsm_number" class="form-control" />
                        <span asp-validation-for="gsm_number" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">GSM No (2)</label>
                        <input asp-for="gsm_number2" class="form-control" />
                        <span asp-validation-for="gsm_number2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">E-mail</label>
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Marital Status</label>
                        @*<input asp-for="MaritalStatus" class="form-control" />*@
                        <select asp-for="MaritalStatus" class="form-control">
                            <option>Select....</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorse">Divorce</option>
                            <option value="Widow">Widow</option>
                            <option value="Widower">Widower</option>

                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h3 style="">
                        <label class="control-label">Spouse</label>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"><strong>Name</strong> <em>(State Rank/ Svc Number. if Personnel)</em></label>
                        <input asp-for="sp_name" class="form-control" />
                        <span asp-validation-for="sp_name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">GSM No of Spouse (1)</label>
                        <input asp-for="sp_phone" class="form-control" />
                        <span asp-validation-for="sp_phone" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">GSM No of Spouse(2)</label>
                        <input asp-for="sp_phone2" class="form-control" />
                        <span asp-validation-for="sp_phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">E-mail of Spouse</label>
                        <input asp-for="sp_email" class="form-control" />
                        <span asp-validation-for="sp_email" class="text-danger"></span>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <h3 style="">
                        <label class="control-label">Children</label>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-3">

                        <input asp-for="chid_name" class="form-control" placeholder="(1)" />
                        <span asp-validation-for="chid_name" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="chid_name2" class="form-control" placeholder="(2)" />
                        <span asp-validation-for="chid_name2" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="chid_name3" class="form-control" placeholder="(3)" />
                        <span asp-validation-for="chid_name3" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="chid_name4" class="form-control" placeholder="(4)" />
                        <span asp-validation-for="chid_name4" class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <h5 style="">
                        <label class="control-label">
                            Details of NOKs, (Note that NOK as used in this Form includes potential administrator of a deceased personnel's estate in relation to his personal emolument and other perquisites of office).
                        </label>
                    </h5>
                </div>
                <div class="row"><label><h4><u>Next of Kin</u> (Attach Passport Photographs)</h4></label></div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Name</label>
                        <input asp-for="nok_name" class="form-control" />
                        <span asp-validation-for="nok_name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Relationship</label>
                        <select asp-for="nok_relation"
                                class="form-control"
                                asp-items="@(new SelectList(Model.nok_relationList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="nok_relation" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Address</label>
                        <input asp-for="nok_address" class="form-control" />
                        <span asp-validation-for="nok_address" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">GSM No (a)</label>
                        <input asp-for="nok_phone" class="form-control" />
                        <span asp-validation-for="nok_phone" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">GSM No (b)</label>
                        <input asp-for="nok_phone12" class="form-control" />
                        <span asp-validation-for="nok_phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">E-mail</label>
                        <input asp-for="nok_email" class="form-control" />
                        <span asp-validation-for="nok_email" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">NIN of NOK</label>
                        <input asp-for="nok_nationalId" class="form-control" />
                        <span asp-validation-for="nok_nationalId" class="text-danger"></span>
                    </div>


                </div>


                <div class="row">
                    <h4 style="">
                        <label class="control-label"><u>Alternate Next Of Kin <em>(Attach Passport Photographs)</em></u></label>
                    </h4>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <label class="control-label">Name</label>
                        <input asp-for="nok_name2" class="form-control" />
                        <span asp-validation-for="nok_name2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Relationship</label>
                        <select asp-for="nok_relation2"
                                class="form-control"
                                asp-items="@(new SelectList(Model.nok_relation2List,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="nok_relation2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Address</label>
                        <input asp-for="nok_address2" class="form-control" />
                        <span asp-validation-for="nok_address2" class="text-danger"></span>
                    </div>


                </div>
                <div class="row">

                    <div class="col-md-4">
                        <label class="control-label">GSM No (a)</label>
                        <input asp-for="nok_phone2" class="form-control" />
                        <span asp-validation-for="nok_phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">GSM No (b)</label>
                        <input asp-for="nok_phone22" class="form-control" />
                        <span asp-validation-for="nok_phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">E-mail</label>
                        <input asp-for="nok_email2" class="form-control" />
                        <span asp-validation-for="nok_email2" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">NIN of Alternate NOK</label>
                        <input asp-for="nok_nationalId2" class="form-control" />
                        <span asp-validation-for="nok_nationalId2" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Alternate Next of Kin(Photograph)</label>
                        <input type="file"
                               accept=".png,.jpg,.jpeg,.gif,.tif"
                               asp-for="AltNokPassport"
                               class="form-control"
                               style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                               onchange="document.getElementById('altnokpassport').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="AltNokPassport" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="col-md-4">
                        <label class="control-label">Accommodation Status</label>
                        <select asp-for="AcommodationStatus" class="form-control" required>
                            <option>Select....</option>
                            <option value="Government Quarters">Government Quarters</option>
                            <option value="Acquried House">Acquired House</option>
                            <option value="Barracks">Barracks</option>
                            <option value="Rented Accommodation">Rented Accomodation</option>
                            <option value="Owned House">Owned House</option>
                        </select>
                        <span asp-validation-for="AcommodationStatus" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Address of Accommodation</label>
                        <input asp-for="AddressofAcommodation" class="form-control" />
                        <span asp-validation-for="nok_address2" class="text-danger"></span>
                    </div>

                </div>
                @*<div class="row">
                        <div class="col-md-10"><h3><span> <i>Disparity in Serial 10 and 21b could lead to revocation of lodging allowance</i></span></h3></div>
                    </div>*@
                <hr />

                <div class="row">
                    <h3 style="">
                        <label class="control-label">Do You Draw</label>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> Rent Subsidy</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="rentcheck" value="Yes" asp-for="rent_subsidy" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="rentcheck" value="No" asp-for="rent_subsidy" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="rent_subsidy" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> Call/Shift Duty Allowance</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="calldutycheck" value="Yes" asp-for="shift_duty_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="calldutycheck" value="No" asp-for="shift_duty_allow" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="shift_duty_allow" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> Pilot Allowance</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="pilot_allowcheck" value="Yes" asp-for="pilot_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="pilot_allowcheck" value="No" asp-for="pilot_allow" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="pilot_allow" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> Aircrew Allowance</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="aircrew_allowcheck" value="Yes" asp-for="aircrew_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="aircrew_allowcheck" value="No" asp-for="aircrew_allow" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="aircrew_allow" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> SBS Allowance</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="sbscheck" value="Yes" asp-for="SBC_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="sbscheck" value="No" asp-for="SBC_allow" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="SBC_allow" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> Hazard Allowance</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="harcheck" value="Yes" asp-for="hazard_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="harcheck" value="No" asp-for="hazard_allow" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="hazard_allow" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"> Special Forces Allowance</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="sfacheck" value="Yes" asp-for="special_forces_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="sfacheck" value="No" asp-for="special_forces_allow" style="margin-left:20px;margin-right:10px;" /><label class="control-label">No</label>
                    </div>
                    <span asp-validation-for="special_forces_allow" class="text-danger"></span>
                </div>

                @*<div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Other Allowance <i>(Please Specify)</i></label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="other_allow" class="form-control" />
                            <span asp-validation-for="other_allow" class="text-danger"></span>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Other Allowance  <em>(Please Specify)</em></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="otheralcheck" value="Yes" asp-for="other_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="otheralcheckno" value="No" asp-for="other_allow" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>

                    <div class="col-md-3" id="Other_allwid">
                        <input asp-for="other_allowspecify" id="other_allw_text" class="form-control" placeholder="" />
                        <span asp-validation-for="other_allowspecify" class="text-danger"></span>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <h3 style="">
                        <label class="control-label">Are you indebted to the following: (Please Indicate Year Granted)</label>
                    </h3>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Federal Govt. Staff Housing Loan Scheme</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="fgscheck" value="Yes" asp-for="FGSHLS_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="fgscheckno" value="No" asp-for="FGSHLS_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.FGSHLS_loan != "No")
                        {*@
                    <div class="col-md-3" id="fedhousingid">
                        <input asp-for="FGSHLS_loanYear" id="fgshls_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="FGSHLS_loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">CNS Car Refurbishing Loan</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="cnslcheck" value="Yes" asp-for="car_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="cnslcheckno" value="No" asp-for="car_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.car_loan != "No")
                        {*@
                    <div class="col-md-3" id="car_loanid">
                        <input asp-for="car_loanYear" id="car_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="car_loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Welfare Loan</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="wlcheck" value="Yes" asp-for="welfare_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="wlcheckno" value="No" asp-for="welfare_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.welfare_loan != "No")
                        {*@
                    <div class="col-md-3" id="welfare_loanid">
                        <input asp-for="welfare_loanYear" id="welfare_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="welfare_loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">NNMCS Loans <em>(Specify Type)</em></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="nnmcheck" value="Yes" asp-for="NNNCS_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="nnmcheckno" value="No" asp-for="NNNCS_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.NNNCS_loan != "No")
                        {*@

                    <div class="col-md-3" id="NNNCS_loanid">
                        <input asp-for="NNNCS_loanYear" id="NNNCS_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="NNNCS_loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">NNMFBL <i>(State year granted)</i></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="nnmfcheck" value="Yes" asp-for="NNMFBL_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="nnmfcheckno" value="No" asp-for="NNMFBL_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.NNMFBL_loan != "No")
                        {*@
                    <div class="col-md-3" id="NNMFBL_loanid">
                        <input asp-for="NNMFBL_loanYear" id="NNMFBL_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="NNMFBL_loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Presidential Pioneer Car Finance Scheme</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="ppccheck" value="Yes" asp-for="PPCFS_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="ppccheckno" value="No" asp-for="PPCFS_loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.PPCFS_loan != "No")
                        {*@

                    <div class="col-md-3" id="ppc_loanid">
                        <input asp-for="PPCFS_loanYear" id="ppc_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="PPCFS_loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Any Other loan <em>(Please Specify)</em></label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="anyolcheck" value="Yes" asp-for="Anyother_Loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="anyolcheckno" value="No" asp-for="Anyother_Loan" style="margin-left:20px;margin-right:10px;" />   <label class="control-label">No</label>
                    </div>
                    @*@if (Model.Anyother_Loan != "No")
                        {*@
                    <div class="col-md-3" id="AnyOther_loanid">
                        <input asp-for="Anyother_LoanYear" id="Anyother_loan_text" class="form-control" placeholder="year" />
                        <span asp-validation-for="Anyother_Loan" class="text-danger"></span>
                    </div>
                    @*}*@
                </div>
                <hr />
                <div class="row">
                    <h3 style="">
                        <label class="control-label">Bank Account Details</label>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Salary Bank Account Name</label>
                        <input asp-for="AccountName" class="form-control" readonly />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Name of Bank</label>
                        <input asp-for="Bankcode" class="form-control" readonly />
                        @*<select asp-for="Bankcode"
                                    class="form-control"
                                    asp-items="@(new SelectList(Model.bankList,"Value", "Text"))">
                            </select>*@
                        <span asp-validation-for="Bankcode" class="text-danger"></span>
                    </div>
                    @*<div class="col-md-4">
                        <label class="control-label">Branch/Address</label>
                        <input asp-for="bankbranch" class="form-control" readonly />
                        <span asp-validation-for="bankbranch" class="text-danger"></span>
                    </div>*@
                    <div class="col-md-4">
                        <label class="control-label">Account Number</label>
                        <input asp-for="BankACNumber" class="form-control" readonly />
                        <span asp-validation-for="BankACNumber" class="text-danger"></span>
                    </div>

                </div>
                <hr />
                @*<div class="row">
                        <div class="col-md-4">
                            <label class="control-label">DO/HOD/CDR</label>
                            <select asp-for="appointment" class="form-control">
                                <option value="DO">DO</option>
                                <option value="HOD">HOD</option>
                                <option value="CDR">CDR</option>
                            </select>
                        </div>
                    </div>*@

                <hr />
                @*@if (Model.Status != "Verified")
                {
                    <div class="row">
                        <div class="col-md-4">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                }*@

            </form>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/assets/mail/contact_me.js"></script>
    @*<script src="~/js/datepicker1.js"></script>
        <script src="~/js/datepicker2.js"></script>*@
    <!-- Core theme JS-->

    <script>
                 $(document).ready(function () {
            var stateid = $('#ddstate');
            stateid.append($("<option></option>").val('').html('select state'));
            $.ajax({
                url: '/PersonalInfo/GetState',
                dataType: 'json',
                type: 'Get',
                success: function (d) {
                    $.each(d, function (i, state) {
                        stateid.append($("<option></option>").val(state.StateId).html(state.Name));
                    });
                },
                error: function () {
                    alert('Error');
                }
            });


        $('#ddstate').change(function () {
            var id = $("#ddstate option:selected").val();
            $("#lga").hide();
            $.ajax({
                url: "@Url.Action("GetLgasNew", "PersonalInfo")",
                data: { id: id },
                dataType: "json",
                type: "POST",
                error: function () {
                    alert("An error occurred.");
                },
                success: function (data) {

                    var items = "<option value=\"\">" + "</option>";
                    $.each(data, function (i, item) {

                        items += "<option value=\"" + item.value + "\">" + item.text + "</option>";

                    });
                    $("#lgashow").show();
                    $("#ddlocalGovt").html(items);
                }
            });
        });


                     $('#ddcommand').change(function () {
                         var id = $("#ddcommand option:selected").val();
                             $.ajax({
                             url: "@Url.Action("Getshipbycommand", "PersonalInfo")",
                             data: { id: id },
                             dataType: "json",
                             type: "POST",
                             error: function () {
                                 alert("An error occurred.");
                             },
                             success: function (data) {

                                 var items = "<option value=\"\">" + "</option>";
                                 $.each(data, function (i, item) {

                                     items += "<option value=\"" + item.value + "\">" + item.text + "</option>";

                                 });
                                 $("#lgashow").show();
                                 $("#ddship").html(items);
                             }
                         });
                     });





                     $("#enrolmentdate").hide();

                     $("#entrymodeid").change(
                         function () {
                             if ($(this).val() != 'NDA') {
                                 $("#enrolmentdate").show();
                             }

                         });
                     if ($("#entrymodeid") != 'NDA') {
                         $("#enrolmentdate").show();
                     }
});
        $(function () {
            $('.datepicker').datepicker();
            $("#datepicker").datepicker();
            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();



            $("#fedhousingid").hide();
            $("#car_loanid").hide();
            $("#welfare_loanid").hide();
            $("#NNNCS_loanid").hide();
            $("#NNMFBL_loanid").hide();
            $("#ppc_loanid").hide();
            $("#AnyOther_loanid").hide();
            $("#lgashow").hide();


        });


        $("#fgscheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#fedhousingid").show();
                }

            });
        $("#fgscheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#fedhousingid").hide();
                    $("#fgshls_loan_text").val('');

                }

            });
        $("#cnslcheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#car_loanid").show();
                }

            });
        $("#cnslcheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#car_loanid").hide();
                    $("#car_loan_text").val('');
                }

            });
        $("#wlcheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#welfare_loanid").show();
                }

            });
        $("#wlcheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#welfare_loanid").hide();
                    $("#welfare_loan_text").val('');
                }

            });
        $("#nnmcheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#NNNCS_loanid").show();
                }

            });
        $("#nnmcheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#NNNCS_loanid").hide();
                    $("#NNNCS_loan_text").val('');
                }

            });
        $("#nnmfcheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#NNMFBL_loanid").show();
                   }

            });
        $("#nnmfcheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#NNMFBL_loanid").hide();
                    $("NNMFBL_loan_text").val('');
                }

            });
        $("#ppccheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#ppc_loanid").show();
                }

            });
        $("#ppccheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#ppc_loanid").hide();
                    $("ppc_loan_text").val('');
                }

            });
        $("#anyolcheck").change(
            function () {
                if ($(this).val() == 'Yes') {
                    $("#AnyOther_loanid").show();
                }

            });
        $("#anyolcheckno").change(
            function () {
                if ($(this).val() == 'No') {
                    $("#AnyOther_loanid").hide();
                    $("#Anyother_loan_text").val('');
                }

            });
    </script>
    <script src="~/js/scripts.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#txtSelectedDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr"
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
</body>
</html>

